:root {
  --color-primary: #66d9ff;
  --color-primary-light: #ccf2ff;
  --color-primary-dark: #1ac6ff;
  --color-grey-light-1: #faf9f9;
  --color-grey-dark-1: #333;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--color-primary);
  font-size: 1.7rem;
  font-family: 'Open Sans' ,  sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover; }

.container {
  max-width: 125rem;
  margin-top: 6rem;
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 15rem;
  background-color: #fff;
  border-bottom: #fff; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.topnavigation {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1rem solid var(--color-primary-dark); }

.products {
  background-color: grey;
  flex: 1; }

.head {
  float: left; }
  .head__logo {
    height: 100%;
    width: 11vw; }
  .head__banner {
    height: 100%;
    width: 50vw; }

.side-nav {
  font-size: 2.2rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item-prio {
    background-color: var(--color-primary-dark); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 4rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }

.top-nav {
  height: 6rem;
  background-color: #fff;
  overflow: hidden;
  font-size: 2rem;
  list-style: none; }
  .top-nav__link:link, .top-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 1.5rem 3rem;
    z-index: 10; }
  .top-nav__link:hover {
    text-transform: uppercase;
    font-weight: 700; }
  .top-nav__input {
    float: right;
    display: block;
    padding: 1rem;
    border: none;
    margin-top: 2px;
    margin-right: 16px;
    font-size: 17px; }
  .top-nav__button {
    float: right;
    display: block;
    padding: 1rem;
    border: none;
    margin-top: 2px;
    margin-right: 16px;
    font-size: 17px;
    z-index: 100; }

.top-nav a:hover {
  background-color: #ddd;
  color: white; }

/* Style the sidenav links and the dropdown button */
.side-nav a, .dropdown-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 1.5rem 4rem;
  position: relative;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center; }

/* On mouse-over */
.side-nav a:hover, .dropdown-btn:hover {
  color: #f1f1f1; }

.dropdown-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  z-index: -20;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }

.dropdown-btn:hover::before {
  transform: scaleY(1);
  width: 100%; }

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white; }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px; }

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px; }

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.row {
  max-width: 95%;
  margin: 2.5rem auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 32rem; }
  .card__side {
    height: 32rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #66d9ff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ccf2ff, #1ac6ff); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ccf2ff, #1ac6ff); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #ccf2ff, #1ac6ff); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 25rem;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: url(../img/book.gif); }
    .card__picture--2 {
      background-image: url(../img/book2.jpg); }
    .card__picture--3 {
      background-image: url(../img/book3.jpg); }
    .card__picture--4 {
      background-image: url(../img/book4.jpg); }
  .card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(204, 242, 255, 0.85), rgba(26, 198, 255, 0.85)); }
  .card__details {
    padding: 1rem 0rem;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }
