.side-nav {
    font-size: 2rem;
    list-style: none;
    margin-top: 3.5rem;
    

    &__item {
        position: relative;
    

        &:not(:last-child){
            margin-bottom: .5rem;
        }

    }


    &__item:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s ;


    }

    &__item:hover::before{
        transform: scaleY(1);
        width: 100%;
       
    }


    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display :block;
        padding: 1.5rem 6rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;

        
        
    }

}

.top-nav {
    height: 6rem;
    background-color: #fff;
    overflow: hidden;
    font-size: 2rem;
    list-style: none;

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        //text-transform: uppercase;
        position: relative;
        display :inline-block;
        padding: 1.5rem 3rem;
        z-index: 10;
    }

    &__link:hover {
        text-transform: uppercase;
        font-weight: 700;

    }

    &__input {
        float: right;
        display: block;
        padding: 1rem;
        border: none;
        margin-top: 2px;
        margin-right: 16px;
        font-size: 17px;
        //border-bottom: 5rem solid var(--color-grey-dark-1);
    }

    &__button {
        float: right;
        display: block;
        padding: 1rem;
        border: none;
        margin-top: 2px;
        margin-right: 16px;
        font-size: 17px;
        z-index: 100;
    }
}

.top-nav a:hover {
    background-color: #ddd;
    color:white;
}










