.side-nav {
    font-size: 2.2rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      margin: 0;
      font-size: 1.5rem;
    }


    &__item {
        position: relative;


        &:not(:last-child){
            margin-bottom: .5rem;


        }





    }


    &__item:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px ;
        background-color: var(--color-primary);
        transform: scaleY(0);

        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s ;


    }

    &__item:hover::before{
        transform: scaleY(1);
        width: 100%;

    }

    &__item-prio {
      background-color: black;
    }


    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display :block;
        padding: 1.5rem 4rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
          justify-content: center;
          padding: 2rem;
        }



    }

}

#jinis {
  z-index: 200;
}

.top-nav {
    height: 6rem;
    background-color: #fff;
    overflow: hidden;
    font-size: 2rem;
    list-style: none;

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        //text-transform: uppercase;
        position: relative;
        display :inline-block;
        padding: 1.5rem 3rem;
        z-index: 10;
    }

    &__link:hover {
        text-transform: uppercase;
        font-weight: 700;

    }

    &__input {
        float: right;
        display: block;
        padding: 1rem;
        border: none;
        margin-top: 2px;
        margin-right: 16px;
        font-size: 17px;
        //border-bottom: 5rem solid var(--color-grey-dark-1);
    }

    &__button {
        float: right;
        display: block;
        padding: 1rem;
        border: none;
        margin-top: 2px;
        margin-right: 16px;
        font-size: 17px;
        z-index: 100;
    }
}

.top-nav a:hover {
    background-color: #ddd;
    color:white;
}

.dropdown {
  margin-left: 0 0;
  max-resolution: 50px;
  width: 100%;



  @media only screen and (max-width: $bp-medium) {

  }

}

.dropdown-bttn {

  //padding: 10px;
  background: whte;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;


}


.dropdown a {
  color: 333;
  text-decoration: none;

}
.dropdown ul {
  list-style-type: none;

}

.dropdown ul li {
  padding: 10px 5x;
  //background: white;
  display: none;


}

.dropdown:hover li {
  display: block;
}

/* Style the sidenav links and the dropdown button */

.side-nav a  {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {

      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
}


.side-nav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.dropdown-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  z-index: -20;
  transition: transform .2s,
              width .4s cubic-bezier(1,0,0,1) .2s ;
}

.dropdown-btn:hover::before{
  transform: scaleY(1);
  width: 100%;
}



/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;

  @media only screen and (max-width: $bp-large) {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 66666;

  }

}

.dropdown-container a {
  @media screen and (max-width: $bp-large){
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 66666;
  }
}

.dropdown:hover .dropdown-container {
  @media screen and (max-width: $bp-large){
    display: block;
    z-index: 66666;
  }
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
}

// For Sidebar dropdown

.sbdrop{
  position: relative;
  &:not(:last-child){
      margin-bottom: .5rem;

  }

}

.sbdrop:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px ;
  background-color: var(--color-primary-dark);
  transform: scaleY(0);

  transition: transform .2s,
              width .4s cubic-bezier(1,0,0,1) .2s ;
  z-index: -1;
}

.sbdrop:hover::before {
  transform: scaleY(1);
  width: 100%;

}





  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }

  /* Keyframes */
  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }
